*{
	margin: 0px;
	padding: 0px;
}
p{
	background-color: pink;
	font-size: 15px;
	padding: 10px;
	text-indent: 7%;
	font-family: Palatino Linotype;
}
p font{
	width: 100px;
	height: 80px;
	left: 0px;
	top: 0px;
	position: relative;
	animation-name: loverun;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	font-weight: bold;

}
@keyframes loverun{
	form{ left: 0px;}
	to{ left: 63%; }
}
header{
		width: 100%;
		height: 100vh;
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url("2.png");
		background-size: cover;
		background-position: center;
		 
}
h1{
	color: red;
	position: absolute;
	top: 10%;
	left: 25%;
	font-size: 300%;
	font-variant: small-caps;
	text-shadow: 2px 3px 2px white; 
	font-family: Modern No. 20;
}
h2{
	color: red;
	position: absolute;
	top: 28%;
	left:6%;
	font-size: 250%;
	font-family: Palatino Linotype;
}
h3{
	color: white;
	position: absolute;
	top: 35%;
	left:6%;
	font-size: 200%;
	font-family: Palatino Linotype;
}
h4{
	color: red;
	position: absolute;
	top: 65%;
	left:15%;
	font-size: 250%;
	font-family: Palatino Linotype;
}
h5{
	color: white;
	position: absolute;
	top: 73%;
	left:6%;
	font-size: 200%;
	font-family: Palatino Linotype;
}
body a{
	color: white;
	font-variant: small-caps;
	background-color: gray;
	letter-spacing: 2px;
	text-shadow: 2px 1px 1px black;
	border-style: groove;
	border-width: 5px;
	border-color: gray #d3d3d3; 
	position: absolute;
	top: 94%;
	left: 2%;
	font-size: 100%;
	text-decoration-line: none;
}
h6{
	position: absolute;
	top: 90%;
	right:6%;
	font-size: 200%;
	color: red;
	background-color: gray;
	letter-spacing: 2px;
	text-shadow: 2px 1px 1px black;
	border-style: groove;
	border-width: 5px;
	border-color: gray #d3d3d3; 
	border-width: 7px;

}